body{
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
}
footer, nav{
    background-color: #00838F;
    color: #B2DFDB ;
    padding: 10px;
}
aside, section{
    width: 50%;
    height: 600px;
    overflow: auto;
}
aside{
    background-color: #B2DFDB ;
    float: left;
}
.wycieczka {
    background-color: rgba(0, 131, 143);
    opacity: 0.7;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
}
.wycieczka:hover{
    opacity: 1;
}
img{
    float: right;
    border-radius: 30px;
    margin: 7px;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #B2DFDB;
    margin-left: 50px;
}
a:hover{
    color: white;
    text-decoration: underline;
}