* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}
aside {
    width: 20%;
    height: 610px;
    float: left;
}
img {
    width: 100%;
    height: 610px;
}
header, footer, nav {
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    text-align: center;
    text-shadow: 4px 4px DimGray;
}
nav {
    padding-top: 10px;
}
nav, header, footer, main {
    float: right;
}
main {
    background-color: Thistle;
    width: 80%;
    height: 450px;
    overflow: auto;
}
.wykonane {
    float: right;
    background-color: MediumPurple;
    color: white;
    height: 30px;
    border: none;
}
ul {
    margin: 40px auto 40px auto;
    width: 70%;
    font-size: 25px;
    border: 2px solid MediumPurple;
    list-style: none;
}
li {
    padding: 10px;
}
li:nth-child(even){
    background-color: #DDCADD;
}
li:hover {
    background-color: Lavender;
}
